@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Blender";
  src: url("/fonts/Blender-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Blender";
  src: url("/fonts/Blender-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reenie Beanie";
  src: url("/fonts/ReenieBeanie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #f9f9f9;
  --foreground: #121212;
}

@theme {
  --breakpoint-lg: 1024px;

  --color-krit-white: #f9f9f9;
  --color-krit-black: #121212;
  --color-krit: #eb102f;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-blender: "Blender", sans-serif;
  --font-monserrat: "Montserrat", sans-serif;
  --font-reenie: "Reenie Beanie", cursive;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Blender", "Montserrat", sans-serif;
}
